// Declaración de variables
$fondoHeader: url('../img/banner1.png');
$fondoPrincipal: linear-gradient(to right, #a3d5b1, whitesmoke);
$fondoFooter: url('../img/banner1.png');
$colorHover: #287247;
$fondoBotones: #71907e;
$fondoNav:#71907e;
$anchoContactoDesktop: 100vw;